.list-song{
    .item-song{
        width: 400px;
        margin-right: 30px;
        border-top: #ececec solid 1px;
        padding: 5px 0px;
        line-height: 24px;
        float: left;
        .info-song{
            display: flex;
            width: 300px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            img{
                width: 60px;
                height: 60px;
                margin-right: 10px;
            }

        }
    }
}