.f-info{
 display: flex;
}

.info1{
    color: black;
}
.info2{
    color: blue;
}
h3{
    display: inline-block;
}
p{
    display: inline-block;
    
}
.f-info button{
    margin: 20px;
}
.f-info div{
    position: relative;
    top: 100px;
    right: 500px;
    padding: 0 10px;
}


