.title{
    color: #2daaed;
    padding: 0 20px 0 0;
    font-weight: 300 !important;
    text-transform: uppercase;
    display: block;
    font-size: 26px;
    line-height: 36px;
    margin: 0 0 10px 0;
}