@import 'normalize.css';

:root{
    --primary:#2daaed;
}   

*{
    margin: 0;
    padding: 0;
    border: none;
    
}

html{
    font-size: 62.5%;
}

body, span{
    font-family: 'NhacCuaTui', sans-serif;
    font-size: 1.6rem;
    
}
input:focus {
    outline: none;
 }
input::placeholder{
    font-family: 'NhacCuaTui', sans-serif;
    font-size: 1.2rem;
}

// Fonts 
@font-face {
    font-family: NhacCuaTui;
    src: url('../../assets/fonts/NhacCuaTui-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: NhacCuaTui;
    src: url('../../assets/fonts/NhacCuaTui-Medium.woff');
    font-weight: 600;
}
@font-face {
    font-family: NhacCuaTui;
    src: url('../../assets/fonts/NhacCuaTui-Regular.woff');
    font-weight: 400;
}

