@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;0,700;1,400&display=swap');
:root{
    --primary:#2daaed;
}   

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
}

