.wrapper-h{
    width: 1150px;
    
    margin: auto;
    padding: 5px 0 6px 0;
    border-bottom: #dadada solid 1px;
    
    display: block;
}
.nav-wrapper{
    display: flex;
    padding: 0px 10px ;
}
.logo-h{
    
}
.logo-he{
    
    height: 50%;
    
}

